<br> Flux conditionnel avec if </br>

<u>Exemple:</u>
<br>-ecrire un code python qui permet de saisir un nombre entier 
-par la suite , vous allez controler/verifier le signe de nombre


     si nombre est stricetement posistif alors afficher nombre positif 
     sinonsi nombre est strictement negatif alors affichger nombre est negatif 
    sinon nombre est nul </br>

In [14]:
nombre=int(input('Entrer un nombre:'))
if nombre>0:
     print(nombre,'est positif')
elif nombre<0:
  print(nombre,'est negatif')
else:
  print(nombre,'est nulle')

1 est positif

<b> Les listes </b>

In [15]:
noms=[] #liste vide

In [16]:
type(noms)

list

In [17]:
len(noms)

0

In [18]:
noms=["ali","sonia","rahma"]

In [1]:
len(noms)

NameError: name 'noms' is not defined

In [20]:
noms.append("saleh") #ajouter a la fin

In [21]:
noms

['ali', 'sonia', 'rahma', 'saleh']

In [22]:
noms.append(10)

In [23]:
noms

['ali', 'sonia', 'rahma', 'saleh', 10]

In [24]:
x=10

In [25]:
x

10

In [26]:
del x

In [27]:
x

NameError: name 'x' is not defined

In [29]:
noms[-1] #dernier elements de la liste

10

In [30]:
del noms[-1]

In [32]:
noms

['ali', 'sonia', 'rahma', 'saleh']

<b>Indexation</b>

In [33]:
noms[2] # element d'indice 2

'rahma'

In [35]:
noms[-1] # indice negatif -1 designe dernier element

'saleh'

<br> Slicing</br/

In [37]:
noms [0:3] #recuperer sous-liste composée des 3 premiers elements

['ali', 'sonia', 'rahma']

In [40]:
#recuperer les 3 derniers elements 
noms[1:]

['sonia', 'rahma', 'saleh']

In [41]:
noms [:3] #recuperer sous-liste composée des 3 premiers elements

['ali', 'sonia', 'rahma']

In [45]:
#sous liste composée de 2eme et 3eme elements
noms[1:3]
noms[-3:3]
noms[1:-1]
noms[-3:-1]

['sonia', 'rahma']

<br>Inversion (slicing pas negative)</br>

In [52]:
noms[3:1]

[]

In [50]:
noms[3:1:1] #reellemnt python avance de gauche vers droit

[]

In [54]:
noms[3:1:-1]

['saleh', 'rahma']

In [55]:
noms[::]

['ali', 'sonia', 'rahma', 'saleh']

In [56]:
noms[::-1]

['saleh', 'rahma', 'sonia', 'ali']

In [58]:
noms.reverse() # mise a jours de la liste

In [59]:
noms

['saleh', 'rahma', 'sonia', 'ali']

In [60]:
noms1=noms.copy()
noms1

['saleh', 'rahma', 'sonia', 'ali']

In [61]:
noms==noms1 #test de l'egalite de contenu

True

In [63]:
noms is noms1  #test de l'identite de l'espace memoire

False

In [64]:
noms.extend(['A','B'])

In [65]:
noms

['saleh', 'rahma', 'sonia', 'ali', 'A', 'B']

In [66]:
noms.append(['A','B']) #append ajouter comme liste A, B

In [67]:
noms

['saleh', 'rahma', 'sonia', 'ali', 'A', 'B', ['A', 'B']]

<b> Boucle for </b>

<b>On va afficher les elements de la liste noms element par element</b>

In [70]:
noms=['sonia','rahma','saleh']

In [72]:
nom=noms[0]
print(noms[0])
nom=noms[1]
print(noms[1])
nom=noms[2]
print(noms[2])

sonia
rahma
saleh

In [73]:
#ou bien
for nom in noms:
    print(nom)

sonia
rahma
saleh

In [75]:
for nom in noms:
    nom=nom.upper() #upper = majuscule

In [76]:
noms

['sonia', 'rahma', 'saleh']

In [78]:
i=0
print(noms[i])
i=1
print(noms[i])
i=2
print(noms[i])

sonia
rahma
saleh

In [80]:
for i in [0,1,2]:
    print(noms[i])

sonia
rahma
saleh

Generateur de sequence

In [88]:
#Generer une sequence des entiers qui :
#commence par 1
#incremente par 2 
#s'arrete a 10-1
#sequence : 1, 3 , 5 , 7 ,9
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [92]:
list(range(0,3)) # par defaut l pas 1

[0, 1, 2]

In [93]:
list(range(3)) #par defaut yebda b 0

[0, 1, 2]

In [95]:
list(range(len(noms))) #len ichouf list lkol lel lekhr

[0, 1, 2]

In [98]:
for i in range (len(noms)):
    print(noms[i])

sonia
rahma
saleh

In [101]:
for i in range (len(noms)):
    noms[i]=noms[i].upper()

In [102]:
noms

['SONIA', 'RAHMA', 'SALEH']

In [105]:
#Enter un nom produit : et donner  prix=350 qte=10 et nom=MO et chercher nomproduit=lave-veiselle et afficher lave veiselle n'exite pas 
nom=['tv','Mo','RFG']
prix=[1200,350,1800]
quantite=[5,10,8]

In [108]:
nom[1]

'Mo'

In [109]:
prix[2]

1800

In [110]:
quantite[2]

8

In [117]:
produits = ['tv', 'ordinateur', 'imprimante', 'tablette']
prix = [300, 600, 200, 400]
quantite = [10, 5, 2, 7]
product = input("Enter the product name: ")

if product in produits:
    index = produits.index(product)
    print("The product exists in the list.")
    print("Price:", prix[index])
    print("Quantity:", quantite[index])
    
else:
    print("The product does not exist in the list.")

The product does not exist in the list.